/* General Styles */
body {
    margin: 0;
    width: 100%;
    text-align: center;
    color:#1D3557;
    background-color:#F1FAEE;
    font-family: "Roboto", sans-serif;
}

/* HERO SECTION */
#hero {
    background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
    background-size: cover;
    padding: 20px 0;
    max-width: 720px;
    width: 100%;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#title {
    background: #1D3557;
    border-radius: 10px;
    padding: 5px 10px;
    text-shadow: 0px 0px 4px black;
}

#subtitle {
    text-shadow: 0px 0px 4px black;
    background: #457B9D;
    width: 400px;
    border-radius: 10px;
    padding: 5px 10px;
}

/* Activities Section */
.activities {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.activities .item {
    width: 198px;
    height: 227px;
    margin-bottom: 20px;
}

.imgcircle {
    transition: transform 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    cursor: pointer;
}

.imgcircle:hover {
    transform: scale(1.1);
}

/* Guide Section */
.card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #A8DADC;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #1D3557;
    border-radius: 10px;
    border-bottom: 6px solid #1D3557;
    flex-wrap: nowrap;
}

#avatar {
    width: 180px;
    border-radius: 8px;
}

/* Responsive tweaks */
@media (max-width: 768px) {
    #subtitle {
        width: 90%;
    }
    .activities .item {
        width: 45%;
        margin-bottom: 20px;
    }
    .card {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}